.h2 {
    font-size:20px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px brown;
}
.Heading{
    background-color: cornflowerblue;
    float: none;
    padding: 10px;
    border-radius: 40px black;
    color: rgb(185, 14, 71);
    box-shadow: 5px 5px 5px darkmagenta;
    font-size:20px;
}
.Div2{
    font-size:20px;
}